/* Navigation stuff
	Same on every page */
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

/* Jumbotron */
.jumbotron .main {
  background-image:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSywuvyTG77E_M7xreWY2uyZoK3PZxX-GmmD_MGMTj-TURDcBRgOw');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .character {
  background-image:none;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
	
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

/* Main page content */
.character-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.character-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.character-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

/* Side page content */
.character-nav {
	
}

.character-info {
	
}


/* Bottom navigation */
.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
