/* Navigation stuff
	Same on every page */
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

/* Jumbotron */
.jumbotron  .main{
  background-image:url('http://www.pidgi.net/wiki/images/f/f0/Key_art_-_Super_Smash_Bros._for_Wii_U.jpg');
  height: 1250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron  .general{
  background-image:url('https://asset1.basecamp.com/2791912/projects/8068241/attachments/131073798/1a9cc07353b15ee63966920a85a6e0b00010/thumbnail.png');
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .Shulk {
  background-image:url("http://www.smashbros.com/images/character/shulk/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;  
}

.jumbotron .Ike {
  background-image:url("http://www.smashbros.com/images/character/ike/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Rosalina{
  background-image:url("http://www.smashbros.com/images/character/rosetta/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Olimar{
  background-image:url("http://www.smashbros.com/images/character/pikmin/screen-2.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Samus{
  background-image:url("http://www.smashbros.com/images/character/samus/screen-2.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Link{
  background-image:url("http://www.smashbros.com/images/character/link/screen-5.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Mario{
  background-image:url("http://www.smashbros.com/images/character/mario/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Charizard{
  background-image:url("http://www.smashbros.com/images/character/lizardon/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .WiiFitTrainer{
  background-image:url("http://www.smashbros.com/images/character/wii_fit_trainer/screen-3.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}


.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #00CCFF;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #00CCFF;
}

/* Main page content */
.character-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.character-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.character-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

/* Side page content */
.character-nav {
	margin-top: 5px;
}
/* Character page content */
.character-info {
	
}

.character-info p {
	margin-top: 35px;
	margin-bottom: 35px;
}


/* Bottom navigation */
.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
