/* Navigation stuff
	Same on every page */
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

/* Jumbotron */
.jumbotron  .main{
  background-image:url('http://www.pidgi.net/wiki/images/f/f0/Key_art_-_Super_Smash_Bros._for_Wii_U.jpg');
  height: 1250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .Shulk {
  background-image:url("http://www.smashbros.com/images/character/shulk/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;  
}

.jumbotron .Ike {
  background-image:url("http://www.smashbros.com/images/character/ike/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Rosalina{
  background-image:url("http://www.smashbros.com/images/character/Rosetta/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Olimar{
  background-image:url("http://www.smashbros.com/images/character/Pikmin/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Samus{
  background-image:url("http://www.smashbros.com/images/character/Samus/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Link{
  background-image:url("http://www.smashbros.com/images/character/Link/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Mario{
  background-image:url("http://www.smashbros.com/images/character/Mario/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .Charizard{
  background-image:url("http://www.smashbros.com/images/character/Lizardon/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}

.jumbotron .WiiFitTrainer{
  background-image:url("http://www.smashbros.com/images/character/Wii_Fit_Trainer/screen-1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;   
}


.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

/* Main page content */
.character-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.character-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.character-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

/* Side page content */
.character-nav {
	
}
/* Character page content */
.character-info {
	
}


/* Bottom navigation */
.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
